aws {
  region = 'us-east-1'
  batch {
    cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}
process {
  executor = 'awsbatch'
  queue = 'nextflow-queue-2'

  withLabel: 'process_high' {
    memory = { 512.GB }
    cpus = { 32 }
    time = { 480.h }
  }
  withLabel: 'process_medium' {
    memory = { 64.GB }
    cpus = { 24  }
    time = { 12.h }
  }
  withLabel: 'process_low' {
    memory = { 32.GB }
    cpus = { 24 }
    time = { 12.h }
  }

}

workDir = 's3://mdibl-nextflow-work/dxu/test_grouptuple/'


